:root {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: red;
}

.bg-red {
  background-color: red;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #e0ffff);
  /*height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
  margin: 0;
}
